html, body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  height: 100vh;
  width: 100vw;
}
#root {
  margin: 0;
  padding: 100px 0;
  background-color: #121315;
  background-image: url(./assets/bg-cafe-lg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
div.container {
  margin: auto;
  background-color: #1C1D1F;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding-top: 50px;
  background-image: url(./assets/vector.svg);
  background-repeat: no-repeat;
  background-position: 70% 5%;
}
h1 {
  color: #FEF7EE;
  margin: 0;
}
div.container p {
  width: 50%;
  color: #6F757C;
}
.coffee-list {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.coffee-list div {
  margin-bottom: 5px;
}
img {
  width: 100%;
  border-radius: 10px;
}
.info p.coffee-name {
  font-size: 0.875rem;
  margin: 0;
  color: #FEF7EE;
  font-weight: 600;
  text-align: left;
}
.info p.coffee-price {
  margin: 0;
  background-color: #BEE3CC;
  color: black;
  font-size: 0.65rem;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  width: 15%;
  border-radius: 2px;
  height: 100%;
}
div.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
div.rating {
  text-align: left;
  display: flex;
}
div.rating p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 700;
  color: #FEF7EE;
  padding: 5px 2px;
  width: fit-content;
}
div.rating p.votes {
  color:#6F757C;
}
div.rating p.sold-out {
  color: #ED735D;
  justify-self: flex-end;
  padding-right: 0;
  margin-left: auto; 
  font-size: 0.8rem;
}
.buttons {
  margin-bottom: 50px;
}
.buttons button {
  margin-left: 5px;
  background-color: #1B1D1F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #FEF7EE;
  font-weight: 600;
}
.buttons button.button-on {
  background-color: #6F757C;
  padding: 8px;
}
div p.popular-tag {
  background-color: #F6C768;
  font-size: 0.5rem;
  font-weight: 600;
  position: absolute;
  color: black;
  border-radius: 10px;
  margin: 7px;
  width: 20%;
  padding: 3px;
}